Rest-Apis-Design-main/apiregistry/internalapis/connector/uddi/quickpay/wsdls/SenderAndBenManagementService/SenderAndBenManagementServicePortType_schema6.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-02/12/2016 11:10:24 PM foreman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://com.tcs.bancs.rm/schemas/" xmlns:ns1="http://com.tcs.bancs.rm/fault/" xmlns:tns="http://com.tcs.bancs.rm/" elementFormDefault="qualified" version="1.0" targetNamespace="http://com.tcs.bancs.rm/">

  <xs:import namespace="http://com.tcs.bancs.rm/fault/" schemaLocation="SenderAndBenManagementServicePortType_schema5.xsd"></xs:import>

  <xs:import namespace="http://com.tcs.bancs.rm/schemas/" schemaLocation="SenderAndBenManagementServicePortType_schema3.xsd"></xs:import>

  <xs:element name="AcceptDealRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dealId" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AcceptDealResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="dealId" type="xs:string"></xs:element>
        <xs:element name="Status" type="xs:string"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ActivateBeneficiaryRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="custCif" type="xs:string"></xs:element>
        <xs:element name="beneficiaryId" type="xs:string"></xs:element>
        <xs:element name="DnetType" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ActivateBeneficiaryResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="success" type="tns:activateBeneficiary" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ActivateSenderRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="custCif" type="xs:string"></xs:element>
        <xs:element name="senderId" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ActivateSenderResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="success" type="ns2:trueOrFalseType" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddBeneficiaryRequest" nillable="true" type="tns:remittanceBeneficiary"></xs:element>

  <xs:element name="AddBeneficiaryResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="beneficiaryId" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddSenderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="custCif" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddSenderResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="senderId" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteBeneficiaryRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="custCif" type="xs:string"></xs:element>
        <xs:element name="beneficiaryId" type="xs:string"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteBeneficiaryResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="success" type="ns2:trueOrFalseType" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ModifyBeneficiaryRequest" nillable="true" type="tns:remittanceModifyBeneficiary"></xs:element>

  <xs:element name="ModifyBeneficiaryResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="beneficiaryId" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveBeneficiaryRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="custCif" type="xs:string"></xs:element>
        <xs:element name="beneficiaryId" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="DnetType" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveBeneficiaryResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="beneficiaryInfo" type="tns:beneficiaryInfo" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveSenderRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="custCif" type="xs:string"></xs:element>
        <xs:element name="senderId" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveSenderResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="senderInfo" type="tns:senderInfo" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReverseTransferRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="bankReferenceNumber" type="xs:string"></xs:element>
        <xs:element name="typeOfRefund" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReverseTransferResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="journalId" type="xs:string"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionCancelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bankReferenceNumber" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionCancelResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="responseCode" type="xs:int"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionInquiryRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bankReferenceNumber" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionInquiryResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="TransactionCancelable" type="xs:string"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionStatusUpdateRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="bankRefNo" type="xs:string"></xs:element>
        <xs:element name="status" type="tns:TransactionStatus" minOccurs="0"></xs:element>
        <xs:element name="lastUpdatedDate" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="amount" type="xs:decimal" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionStatusUpdateResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="Response" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransferRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="custCif" type="xs:string"></xs:element>
        <xs:element name="accountNumber" type="xs:string"></xs:element>
        <xs:element name="beneficiaryId" type="xs:string"></xs:element>
        <xs:element name="amount" type="xs:decimal"></xs:element>
        <xs:element name="calculationMethod" type="xs:int"></xs:element>
        <xs:element name="atmReceipt" type="xs:int" minOccurs="0"></xs:element>
        <xs:element name="atmLocation" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="AMLPurposeCode" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="atmTerminalId" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="dealId" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="posReferenceNumber" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="additionalInfo" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransferResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="transferDetails" type="tns:transferDetailsType" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ValidateActiveTransactionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountNumber" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ValidateActiveTransactionResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="Response" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ValidateTransferRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="custCif" type="xs:string"></xs:element>
        <xs:element name="accountNumber" type="xs:string"></xs:element>
        <xs:element name="beneficiaryId" type="xs:string"></xs:element>
        <xs:element name="amount" type="xs:decimal"></xs:element>
        <xs:element name="calculationMethod" type="xs:int"></xs:element>
        <xs:element name="atmTerminalId" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ValidateTransferResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="transferInfo" type="tns:transferInfoType" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="transferInfoType">
    <xs:all>
      <xs:element name="custCif" type="xs:string"></xs:element>
      <xs:element name="beneficiaryId" type="xs:int" default="0"></xs:element>
      <xs:element name="sourceAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="sourceCurrency" type="xs:string"></xs:element>
      <xs:element name="feeAmountInSAR" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="sourceFeeAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="correspondentId" type="xs:string"></xs:element>
      <xs:element name="beneficiaryFirstName" type="xs:string"></xs:element>
      <xs:element name="beneficiaryMiddleName" type="xs:string"></xs:element>
      <xs:element name="beneficiaryLastName" type="xs:string"></xs:element>
      <xs:element name="beneficiaryCountry" type="xs:string"></xs:element>
      <xs:element name="deliveryType" type="xs:string"></xs:element>
      <xs:element name="deliveryDetail0" type="xs:string"></xs:element>
      <xs:element name="deliveryDetail1" type="xs:string"></xs:element>
      <xs:element name="deliveryDetail3" type="xs:string"></xs:element>
      <xs:element name="destinationAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="destinationCurrency" type="xs:string"></xs:element>
      <xs:element name="exchangeRate" type="xs:double" default="0.0"></xs:element>
      <xs:element name="bancsSellRate" type="xs:double" default="0.0"></xs:element>
      <xs:element name="srcUSDSpread" type="xs:double" default="0.0"></xs:element>
      <xs:element name="bancsRateSellWSpread" type="xs:double" default="0.0"></xs:element>
      <xs:element name="netAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="netTransferUSD" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="sellRateGainSAR" type="xs:double" default="0.0"></xs:element>
      <xs:element name="payQuikExchange" type="xs:double" default="0.0"></xs:element>
      <xs:element name="bancsBuyRate" type="xs:double" default="0.0"></xs:element>
      <xs:element name="usdDSTSpread" type="xs:double" default="0.0"></xs:element>
      <xs:element name="bancsRateBuyWSpread" type="xs:double" default="0.0"></xs:element>
      <xs:element name="buyRateGainSAR" type="xs:double" default="0.0"></xs:element>
      <xs:element name="feeValue" type="xs:int" default="0"></xs:element>
      <xs:element name="bancsRateMid" type="xs:double" default="0.0"></xs:element>
      <xs:element name="costRate" type="xs:double" default="0.0"></xs:element>
      <xs:element name="senderFirstName" type="xs:string"></xs:element>
      <xs:element name="senderMiddleName" type="xs:string"></xs:element>
      <xs:element name="senderLastName" type="xs:string"></xs:element>
      <xs:element name="senderAddress1" type="xs:string"></xs:element>
      <xs:element name="senderAddress2" type="xs:string"></xs:element>
      <xs:element name="senderCity" type="xs:string"></xs:element>
      <xs:element name="senderCountry" type="xs:string"></xs:element>
      <xs:element name="senderNationality" type="xs:string"></xs:element>
      <xs:element name="senderEmail" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="senderMobile" type="xs:string"></xs:element>
      <xs:element name="senderId" type="xs:string"></xs:element>
      <xs:element name="senderIdType" type="xs:string"></xs:element>
      <xs:element name="senderIdExpiryDate" type="xs:string"></xs:element>
      <xs:element name="senderDateofBirth" type="xs:string"></xs:element>
      <xs:element name="senderOccupation" type="xs:string"></xs:element>
      <xs:element name="senderPostalCode" type="xs:string" default="0"></xs:element>
      <xs:element name="beneficiaryAddress1" type="xs:string"></xs:element>
      <xs:element name="beneficiaryAddress2" type="xs:string"></xs:element>
      <xs:element name="beneficiaryCity" type="xs:string"></xs:element>
      <xs:element name="beneficiaryState" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="beneficiaryPostalCode" type="xs:string" default="0"></xs:element>
      <xs:element name="beneficaryEmail" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="beneficiaryPhone" type="xs:string"></xs:element>
      <xs:element name="beneficiaryMobile" type="xs:string"></xs:element>
      <xs:element name="remittancePurpose" type="xs:string"></xs:element>
      <xs:element name="senderRelation" type="xs:string"></xs:element>
      <xs:element name="ncbCommissionInSAR" type="xs:decimal"></xs:element>
      <xs:element name="ncbCommissionInUSD" type="xs:decimal"></xs:element>
      <xs:element name="mgCommissionInSAR" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="mgCommissionInUSD" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="mgFaceAmountInUSD" type="xs:decimal"></xs:element>
      <xs:element name="vatAmountInSAR" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="feeExcludingVat" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="homeBranch" type="xs:string"></xs:element>
      <xs:element name="dealId" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dealExpiryTime" type="xs:string" minOccurs="0"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="transferDetailsType">
    <xs:all>
      <xs:element name="custCif" type="xs:string"></xs:element>
      <xs:element name="sourceAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="sourceCurrency" type="xs:string"></xs:element>
      <xs:element name="sourceFeeAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="destinationAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="destinationCurrency" type="xs:string"></xs:element>
      <xs:element name="exchangeRate" type="xs:double"></xs:element>
      <xs:element name="feeAmountInSAR" type="xs:decimal"></xs:element>
      <xs:element name="vatAmountInSAR" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="feeExcludingVat" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="pickupCode" type="xs:string"></xs:element>
      <xs:element name="quickPayReferenceNumber" type="xs:string"></xs:element>
      <xs:element name="bankReferenceNumber" type="xs:string"></xs:element>
      <xs:element name="journalId" type="xs:string"></xs:element>
      <xs:element name="correspondentGl" type="xs:string"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="remittanceBeneficiary">
    <xs:all>
      <xs:element name="custCif" type="xs:string"></xs:element>
      <xs:element name="beneficiaryId" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="iban" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benFirstName" type="xs:string"></xs:element>
      <xs:element name="benMiddleName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benLastName" type="xs:string"></xs:element>
      <xs:element name="benFourthName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benFirstNameArabic" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benMiddleNameArabic" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benMiddleNameArabic2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benLastNameArabic" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benAddress1" type="xs:string"></xs:element>
      <xs:element name="benAddress2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="city" type="xs:string"></xs:element>
      <xs:element name="state" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="postalCode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="country" type="xs:string"></xs:element>
      <xs:element name="countryName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nationality" type="xs:string"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="mobile" type="xs:string"></xs:element>
      <xs:element name="phone" type="xs:string"></xs:element>
      <xs:element name="deliveryType" type="ns2:deliveryTypes"></xs:element>
      <xs:element name="deliveryTypeDescription" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryCurrencyCode" type="xs:string"></xs:element>
      <xs:element name="deliveryParam0" type="xs:string"></xs:element>
      <xs:element name="deliveryParam1" type="xs:string"></xs:element>
      <xs:element name="deliveryParam2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryParam3" type="xs:string"></xs:element>
      <xs:element name="deliveryParam4" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryParam6" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryParam8" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryParam9" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benlang" type="xs:string"></xs:element>
      <xs:element name="agent" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="remitPurpose" type="xs:string"></xs:element>
      <xs:element name="remitterRelation" type="xs:string"></xs:element>
      <xs:element name="correctionCheck" type="ns2:YorNType"></xs:element>
      <xs:element name="correspondentId" type="xs:string"></xs:element>
      <xs:element name="dnetType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benDateOfBirth" type="xs:string"></xs:element>
      <xs:element name="benPlaceOfBirth" type="xs:string"></xs:element>
      <xs:element name="benOccupation" type="xs:string"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="remittanceModifyBeneficiary">
    <xs:all>
      <xs:element name="custCif" type="xs:string"></xs:element>
      <xs:element name="beneficiaryId" type="xs:string"></xs:element>
      <xs:element name="iban" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benFirstName" type="xs:string"></xs:element>
      <xs:element name="benMiddleName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benLastName" type="xs:string"></xs:element>
      <xs:element name="benFourthName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benFirstNameArabic" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benMiddleNameArabic" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benMiddleNameArabic2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benLastNameArabic" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benAddress1" type="xs:string"></xs:element>
      <xs:element name="benAddress2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="city" type="xs:string"></xs:element>
      <xs:element name="state" type="xs:string"></xs:element>
      <xs:element name="postalCode" type="xs:string"></xs:element>
      <xs:element name="country" type="xs:string"></xs:element>
      <xs:element name="countryName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nationality" type="xs:string"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="mobile" type="xs:string"></xs:element>
      <xs:element name="phone" type="xs:string"></xs:element>
      <xs:element name="deliveryType" type="ns2:deliveryTypes"></xs:element>
      <xs:element name="deliveryTypeDescription" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryCurrencyCode" type="xs:string"></xs:element>
      <xs:element name="deliveryParam0" type="xs:string"></xs:element>
      <xs:element name="deliveryParam1" type="xs:string"></xs:element>
      <xs:element name="deliveryParam2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryParam3" type="xs:string"></xs:element>
      <xs:element name="deliveryParam4" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryParam6" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryParam8" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryParam9" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benlang" type="xs:string"></xs:element>
      <xs:element name="agent" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="remitPurpose" type="xs:string"></xs:element>
      <xs:element name="remitterRelation" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="correctionCheck" type="ns2:YorNType"></xs:element>
      <xs:element name="correspondentId" type="xs:string"></xs:element>
      <xs:element name="dnetType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benDateOfBirth" type="xs:string"></xs:element>
      <xs:element name="benPlaceOfBirth" type="xs:string"></xs:element>
      <xs:element name="benOccupation" type="xs:string"></xs:element>
      <xs:element name="status" type="xs:string"></xs:element>
      <xs:element name="creationTime" type="xs:string" minOccurs="0"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="activateBeneficiary">
    <xs:sequence>
      <xs:element name="beneficiaryId" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="senderInfo">
    <xs:sequence>
      <xs:element name="senderId" type="xs:string"></xs:element>
      <xs:element name="custCif" type="xs:string"></xs:element>
      <xs:element name="sender" type="tns:remittanceSender" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="remittanceSender">
    <xs:all>
      <xs:element name="iban" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custFirstName" type="xs:string"></xs:element>
      <xs:element name="custMiddleName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custLastName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custFirstNameArabic" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custMiddleNameArabic" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custLastNameArabic" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custAddress1" type="xs:string"></xs:element>
      <xs:element name="custAddress2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="country" type="xs:string"></xs:element>
      <xs:element name="countryName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="city" type="xs:string"></xs:element>
      <xs:element name="postalCode" type="xs:string" default="0"></xs:element>
      <xs:element name="nationality" type="xs:string"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="mobile" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custLanguage" type="xs:string"></xs:element>
      <xs:element name="status" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="createdBy" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="createdUsing" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="creationDate" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="creationTime" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="creationType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custIdNumber" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custIdType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custIdExpiryDate" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custDateofBirth" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custPlaceofBirth" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="custOccupation" type="xs:string" minOccurs="0"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="beneficiaryInfo">
    <xs:sequence>
      <xs:element name="custCif" type="xs:string"></xs:element>
      <xs:element name="senderId" type="xs:string"></xs:element>
      <xs:element name="senderStatus" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="beneficiary" type="tns:remittanceRetrieveBeneficiary" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="totalRecipients" type="xs:int" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="remittanceRetrieveBeneficiary">
    <xs:all>
      <xs:element name="custCif" type="xs:string"></xs:element>
      <xs:element name="beneficiaryId" type="xs:string"></xs:element>
      <xs:element name="iban" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benFirstName" type="xs:string"></xs:element>
      <xs:element name="benMiddleName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benLastName" type="xs:string"></xs:element>
      <xs:element name="benFourthName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benFirstNameArabic" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benMiddleNameArabic" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benMiddleNameArabic2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benLastNameArabic" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benAddress1" type="xs:string"></xs:element>
      <xs:element name="benAddress2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="city" type="xs:string"></xs:element>
      <xs:element name="state" type="xs:string"></xs:element>
      <xs:element name="postalCode" type="xs:string"></xs:element>
      <xs:element name="country" type="xs:string"></xs:element>
      <xs:element name="countryName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nationality" type="xs:string"></xs:element>
      <xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="mobile" type="xs:string"></xs:element>
      <xs:element name="phone" type="xs:string"></xs:element>
      <xs:element name="deliveryType" type="xs:string"></xs:element>
      <xs:element name="deliveryTypeDescription" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryCurrencyCode" type="xs:string"></xs:element>
      <xs:element name="deliveryParam0" type="xs:string"></xs:element>
      <xs:element name="deliveryParam1" type="xs:string"></xs:element>
      <xs:element name="deliveryParam2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryParam3" type="xs:string"></xs:element>
      <xs:element name="deliveryParam4" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryParam6" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryParam8" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="deliveryParam9" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benlang" type="xs:string"></xs:element>
      <xs:element name="agent" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="remitPurpose" type="xs:string"></xs:element>
      <xs:element name="remitterRelation" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="correctionCheck" type="xs:string"></xs:element>
      <xs:element name="correspondentId" type="xs:string"></xs:element>
      <xs:element name="dnetType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="benDateOfBirth" type="xs:string"></xs:element>
      <xs:element name="benPlaceOfBirth" type="xs:string"></xs:element>
      <xs:element name="benOccupation" type="xs:string"></xs:element>
      <xs:element name="status" type="xs:string"></xs:element>
      <xs:element name="creationTime" type="xs:string" minOccurs="0"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="TransactionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REDEEMED"></xs:enumeration>
      <xs:enumeration value="REFUNDED"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>