Rest-Apis-Design-main/apiregistry/internalapis/connector/uddi/quickpay/wsdls/SenderAndBenManagementService/SenderAndBenManagementServicePortType_schema2.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-02/12/2016 11:10:24 PM foreman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" elementFormDefault="qualified" version="1.0" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">

  <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" schemaLocation="SenderAndBenManagementServicePortType_schema1.xsd"></xs:import>

  <xs:element name="BinarySecurityToken" type="tns:BinarySecurityTokenType"></xs:element>

  <xs:element name="Embedded" type="tns:EmbeddedType"></xs:element>

  <xs:element name="KeyIdentifier" type="tns:KeyIdentifierType"></xs:element>

  <xs:element name="Nonce" type="tns:EncodedString"></xs:element>

  <xs:element name="Password" type="tns:PasswordString"></xs:element>

  <xs:element name="Reference" type="tns:ReferenceType"></xs:element>

  <xs:element name="Security" type="tns:SecurityHeaderType"></xs:element>

  <xs:element name="SecurityTokenReference" type="tns:SecurityTokenReferenceType"></xs:element>

  <xs:element name="TransformationParameters" type="tns:TransformationParametersType"></xs:element>

  <xs:element name="UsernameToken" type="tns:UsernameTokenType"></xs:element>

  <xs:complexType name="AttributedString">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="ns1:Id"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PasswordString">
    <xs:simpleContent>
      <xs:extension base="tns:AttributedString">
        <xs:attribute name="Type" type="xs:anyURI"></xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="EncodedString">
    <xs:simpleContent>
      <xs:extension base="tns:AttributedString">
        <xs:attribute name="EncodingType" type="xs:anyURI"></xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="KeyIdentifierType">
    <xs:simpleContent>
      <xs:extension base="tns:EncodedString">
        <xs:attribute name="ValueType" type="xs:anyURI"></xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="BinarySecurityTokenType">
    <xs:simpleContent>
      <xs:extension base="tns:EncodedString">
        <xs:attribute name="ValueType" type="xs:anyURI"></xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="UsernameTokenType">
    <xs:sequence>
      <xs:element name="Username" type="tns:AttributedString"></xs:element>
      <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
    </xs:sequence>
    <xs:attribute ref="ns1:Id"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
  </xs:complexType>

  <xs:complexType name="EmbeddedType">
    <xs:sequence>
      <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
    </xs:sequence>
    <xs:attribute name="ValueType" type="xs:anyURI"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
  </xs:complexType>

  <xs:complexType name="ReferenceType">
    <xs:sequence></xs:sequence>
    <xs:attribute name="URI" type="xs:anyURI"></xs:attribute>
    <xs:attribute name="ValueType" type="xs:anyURI"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
  </xs:complexType>

  <xs:complexType name="SecurityHeaderType">
    <xs:sequence>
      <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
  </xs:complexType>

  <xs:complexType name="SecurityTokenReferenceType">
    <xs:sequence>
      <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
    </xs:sequence>
    <xs:attribute ref="ns1:Id"></xs:attribute>
    <xs:attribute ref="tns:Usage"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
  </xs:complexType>

  <xs:complexType name="TransformationParametersType">
    <xs:sequence>
      <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
  </xs:complexType>

  <xs:attribute name="Usage">
    <xs:simpleType>
      <xs:list itemType="xs:string"></xs:list>
    </xs:simpleType>
  </xs:attribute>
</xs:schema>