Rest-Apis-Design-main/apiregistry/internalapis/connector/uddi/quickpay/wsdls/SenderAndBenManagementService/SenderAndBenManagementServicePortType_schema4.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-02/12/2016 11:10:24 PM foreman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://com.tcs.bancs.rm/header/">

  <xs:element name="ServiceHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="loggerContext" type="xs:string"></xs:element>
        <xs:element name="transactionCode" type="xs:string"></xs:element>
        <xs:element name="retryTransaction" type="xs:boolean"></xs:element>
        <xs:element name="tellerId" type="xs:string"></xs:element>
        <xs:element name="terminalId" type="xs:string"></xs:element>
        <xs:element name="workstationId" type="xs:string"></xs:element>
        <xs:element name="override" type="xs:boolean"></xs:element>
        <xs:element name="correction" type="xs:string"></xs:element>
        <xs:element name="supervisor" type="xs:string"></xs:element>
        <xs:element name="supervisorId" type="xs:string"></xs:element>
        <xs:element name="overrideCode" type="xs:string"></xs:element>
        <xs:element name="employeeId" type="xs:string"></xs:element>
        <xs:element name="branchId" type="xs:string"></xs:element>
        <xs:element name="functionId" type="xs:string"></xs:element>
        <xs:element name="channelId" type="xs:string"></xs:element>
        <xs:element name="bancsPwd" type="xs:string"></xs:element>
        <xs:element name="languageCode" type="xs:string"></xs:element>
        <xs:element name="authenticationType" type="xs:string" default="NONE" minOccurs="0"></xs:element>
        <xs:element name="IvrTransactionID" type="xs:string" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>