Rest-Apis-Design-main/apiregistry/internalapis/connector/uddi/quickpay/wsdls/SenderAndBenManagementService/SenderAndBenManagementService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://com.tcs.bancs.rm/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://sbmgmt.rm.bancs.tcs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="SenderAndBenManagementService" targetNamespace="http://sbmgmt.rm.bancs.tcs.com/">
<import namespace="http://com.tcs.bancs.rm/" location="SenderAndBenManagementServicePortType.wsdl"> </import>
<binding name="SenderAndBenManagementServiceBinding" type="ns1:SenderAndBenManagementService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="AddSender">
<soap:operation soapAction="http://com.tcs.bancs.rm/AddSender"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActivateSender">
<soap:operation soapAction="http://com.tcs.bancs.rm/ActivateSender"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetrieveSender">
<soap:operation soapAction="http://com.tcs.bancs.rm/RetrieveSender"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddBeneficiary">
<soap:operation soapAction="http://com.tcs.bancs.rm/AddBeneficiary"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActivateBeneficiary">
<soap:operation soapAction="http://com.tcs.bancs.rm/ActivateBeneficiary"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetrieveBeneficiary">
<soap:operation soapAction="http://com.tcs.bancs.rm/RetrieveBeneficiary"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyBeneficiary">
<soap:operation soapAction="http://com.tcs.bancs.rm/ModifyBeneficiary"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteBeneficiary">
<soap:operation soapAction="http://com.tcs.bancs.rm/DeleteBeneficiary"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SenderAndBenManagementService">
<port name="SenderAndBenManagementService" binding="tns:SenderAndBenManagementServiceBinding">
<soap:address location="http://rhlux2617:9080/TCS_RM_BeneficiaryRefData/SenderAndBenManagementService"/>
</port>
</service>
</definitions>