Rest-Apis-Design-main/apiregistry/internalapis/connector/uddi/quickpay/wsdls/BeneficiaryReferenceService/BeneficiaryReferenceServicePortType_schema4.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-02/12/2016 11:10:24 PM foreman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://com.tcs.bancs.rm/schemas/" xmlns:ns1="http://com.tcs.bancs.rm/fault/" xmlns:tns="http://com.tcs.bancs.rm/" elementFormDefault="qualified" version="1.0" targetNamespace="http://com.tcs.bancs.rm/">

  <xs:import namespace="http://com.tcs.bancs.rm/fault/" schemaLocation="BeneficiaryReferenceServicePortType_schema3.xsd"></xs:import>

  <xs:import namespace="http://com.tcs.bancs.rm/schemas/" schemaLocation="BeneficiaryReferenceServicePortType_schema1.xsd"></xs:import>

  <xs:element name="AcceptDealRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dealId" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AcceptDealResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="dealId" type="xs:string"></xs:element>
        <xs:element name="Status" type="xs:string"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveAgentTypeCurrencyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transactionType" type="ns2:TransactionType"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveAgentTypeCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="currency" type="tns:currencyType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveAgentsRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="city" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="location" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="currency" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="deliveryType" type="tns:deliveryTypesType"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="agent" type="tns:agentType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveBanksRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="bankID" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="deliveryType" type="tns:deliveryTypesType"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveBanksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bank" type="tns:bankType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveBranchCurrencyRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="bankMasterId" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="branchMasterId" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveBranchCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="currencyCode" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveBranchesRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="bankMasterId" type="xs:string"></xs:element>
        <xs:element name="currencyCode" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveBranchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="branch" type="tns:branchType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveCitiesRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="deliveryType" type="tns:deliveryTypesType"></xs:element>
        <xs:element name="state" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="city" type="tns:cityType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveCountriesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="option" type="xs:string" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="country" type="tns:CountryType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveCourierCurrencyRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="courierId" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveCourierCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="currency" type="tns:currencyType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveCourierRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="countryCode" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveCourierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="courier" type="tns:courierType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveDeliveryTypesRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="option" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveDeliveryTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="deliveryType" type="tns:deliveryTypeType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveDirCourierCurrencyRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="courierId" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveDirCourierCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="currency" type="tns:currencyType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveDirCourierRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="countryCode" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveDirCourierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="courier" type="tns:DirCourierType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveLocationCurrencyRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="city" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="agent" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="location" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="deliveryType" type="tns:deliveryTypesType"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveLocationCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="currency" type="tns:currencyType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveLocationsRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="city" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="currencyCode" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="agent" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="deliveryType" type="tns:deliveryTypesType"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="location" type="tns:locationType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveMGAgentsRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="deliveryType" type="tns:deliveryTypesType"></xs:element>
        <xs:element name="city" type="xs:string"></xs:element>
        <xs:element name="state" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveMGAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="agent" type="tns:mgAgentType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveMGCurrencyRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="deliveryType" type="tns:deliveryTypesType"></xs:element>
        <xs:element name="agentID" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveMGCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="currency" type="tns:currencyType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveMGDeliveryTypesRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="deliveryType" type="xs:string"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveMGDeliveryTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="deliveryType" type="tns:deliveryTypeType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveMGDynamicFieldsRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="countryCode" type="xs:string"></xs:element>
        <xs:element name="deliveryType" type="xs:string"></xs:element>
        <xs:element name="currencyCode" type="xs:string"></xs:element>
        <xs:element name="bankName" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveMGDynamicFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dynamicFieldInfo" type="tns:dynamicFieldInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveStatesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="countryCode" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RetrieveStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="state" nillable="true" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element name="stateCode" type="xs:string"></xs:element>
              <xs:element name="stateName" type="xs:string"></xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReverseTransferRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="bankReferenceNumber" type="xs:string"></xs:element>
        <xs:element name="typeOfRefund" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReverseTransferResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="journalId" type="xs:string"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionCancelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bankReferenceNumber" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionCancelResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="responseCode" type="xs:int"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionInquiryRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bankReferenceNumber" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionInquiryResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="TransactionCancelable" type="xs:string"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionStatusUpdateRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="bankRefNo" type="xs:string"></xs:element>
        <xs:element name="status" type="tns:TransactionStatus" minOccurs="0"></xs:element>
        <xs:element name="lastUpdatedDate" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="amount" type="xs:decimal" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransactionStatusUpdateResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="Response" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransferRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="custCif" type="xs:string"></xs:element>
        <xs:element name="accountNumber" type="xs:string"></xs:element>
        <xs:element name="beneficiaryId" type="xs:string"></xs:element>
        <xs:element name="amount" type="xs:decimal"></xs:element>
        <xs:element name="calculationMethod" type="xs:int"></xs:element>
        <xs:element name="atmReceipt" type="xs:int" minOccurs="0"></xs:element>
        <xs:element name="atmLocation" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="AMLPurposeCode" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="atmTerminalId" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="dealId" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="posReferenceNumber" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="additionalInfo" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransferResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="transferDetails" type="tns:transferDetailsType" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ValidateActiveTransactionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountNumber" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ValidateActiveTransactionResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="Response" type="xs:string" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ValidateTransferRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="custCif" type="xs:string"></xs:element>
        <xs:element name="accountNumber" type="xs:string"></xs:element>
        <xs:element name="beneficiaryId" type="xs:string"></xs:element>
        <xs:element name="amount" type="xs:decimal"></xs:element>
        <xs:element name="calculationMethod" type="xs:int"></xs:element>
        <xs:element name="atmTerminalId" type="xs:string" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ValidateTransferResponse">
    <xs:complexType>
      <xs:all>
        <xs:element name="transferInfo" type="tns:transferInfoType" minOccurs="0"></xs:element>
        <xs:element name="fault" type="ns1:FaultType" minOccurs="0"></xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="transferInfoType">
    <xs:all>
      <xs:element name="custCif" type="xs:string"></xs:element>
      <xs:element name="beneficiaryId" type="xs:int" default="0"></xs:element>
      <xs:element name="sourceAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="sourceCurrency" type="xs:string"></xs:element>
      <xs:element name="feeAmountInSAR" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="sourceFeeAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="correspondentId" type="xs:string"></xs:element>
      <xs:element name="beneficiaryFirstName" type="xs:string"></xs:element>
      <xs:element name="beneficiaryMiddleName" type="xs:string"></xs:element>
      <xs:element name="beneficiaryLastName" type="xs:string"></xs:element>
      <xs:element name="beneficiaryCountry" type="xs:string"></xs:element>
      <xs:element name="deliveryType" type="xs:string"></xs:element>
      <xs:element name="deliveryDetail0" type="xs:string"></xs:element>
      <xs:element name="deliveryDetail1" type="xs:string"></xs:element>
      <xs:element name="deliveryDetail3" type="xs:string"></xs:element>
      <xs:element name="destinationAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="destinationCurrency" type="xs:string"></xs:element>
      <xs:element name="exchangeRate" type="xs:double" default="0.0"></xs:element>
      <xs:element name="bancsSellRate" type="xs:double" default="0.0"></xs:element>
      <xs:element name="srcUSDSpread" type="xs:double" default="0.0"></xs:element>
      <xs:element name="bancsRateSellWSpread" type="xs:double" default="0.0"></xs:element>
      <xs:element name="netAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="netTransferUSD" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="sellRateGainSAR" type="xs:double" default="0.0"></xs:element>
      <xs:element name="payQuikExchange" type="xs:double" default="0.0"></xs:element>
      <xs:element name="bancsBuyRate" type="xs:double" default="0.0"></xs:element>
      <xs:element name="usdDSTSpread" type="xs:double" default="0.0"></xs:element>
      <xs:element name="bancsRateBuyWSpread" type="xs:double" default="0.0"></xs:element>
      <xs:element name="buyRateGainSAR" type="xs:double" default="0.0"></xs:element>
      <xs:element name="feeValue" type="xs:int" default="0"></xs:element>
      <xs:element name="bancsRateMid" type="xs:double" default="0.0"></xs:element>
      <xs:element name="costRate" type="xs:double" default="0.0"></xs:element>
      <xs:element name="senderFirstName" type="xs:string"></xs:element>
      <xs:element name="senderMiddleName" type="xs:string"></xs:element>
      <xs:element name="senderLastName" type="xs:string"></xs:element>
      <xs:element name="senderAddress1" type="xs:string"></xs:element>
      <xs:element name="senderAddress2" type="xs:string"></xs:element>
      <xs:element name="senderCity" type="xs:string"></xs:element>
      <xs:element name="senderCountry" type="xs:string"></xs:element>
      <xs:element name="senderNationality" type="xs:string"></xs:element>
      <xs:element name="senderEmail" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="senderMobile" type="xs:string"></xs:element>
      <xs:element name="senderId" type="xs:string"></xs:element>
      <xs:element name="senderIdType" type="xs:string"></xs:element>
      <xs:element name="senderIdExpiryDate" type="xs:string"></xs:element>
      <xs:element name="senderDateofBirth" type="xs:string"></xs:element>
      <xs:element name="senderOccupation" type="xs:string"></xs:element>
      <xs:element name="senderPostalCode" type="xs:string" default="0"></xs:element>
      <xs:element name="beneficiaryAddress1" type="xs:string"></xs:element>
      <xs:element name="beneficiaryAddress2" type="xs:string"></xs:element>
      <xs:element name="beneficiaryCity" type="xs:string"></xs:element>
      <xs:element name="beneficiaryState" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="beneficiaryPostalCode" type="xs:string" default="0"></xs:element>
      <xs:element name="beneficaryEmail" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="beneficiaryPhone" type="xs:string"></xs:element>
      <xs:element name="beneficiaryMobile" type="xs:string"></xs:element>
      <xs:element name="remittancePurpose" type="xs:string"></xs:element>
      <xs:element name="senderRelation" type="xs:string"></xs:element>
      <xs:element name="ncbCommissionInSAR" type="xs:decimal"></xs:element>
      <xs:element name="ncbCommissionInUSD" type="xs:decimal"></xs:element>
      <xs:element name="mgCommissionInSAR" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="mgCommissionInUSD" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="mgFaceAmountInUSD" type="xs:decimal"></xs:element>
      <xs:element name="vatAmountInSAR" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="feeExcludingVat" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="homeBranch" type="xs:string"></xs:element>
      <xs:element name="dealId" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dealExpiryTime" type="xs:string" minOccurs="0"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="transferDetailsType">
    <xs:all>
      <xs:element name="custCif" type="xs:string"></xs:element>
      <xs:element name="sourceAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="sourceCurrency" type="xs:string"></xs:element>
      <xs:element name="sourceFeeAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="destinationAmount" type="xs:decimal" default="0.0"></xs:element>
      <xs:element name="destinationCurrency" type="xs:string"></xs:element>
      <xs:element name="exchangeRate" type="xs:double"></xs:element>
      <xs:element name="feeAmountInSAR" type="xs:decimal"></xs:element>
      <xs:element name="vatAmountInSAR" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="feeExcludingVat" type="xs:decimal" minOccurs="0"></xs:element>
      <xs:element name="pickupCode" type="xs:string"></xs:element>
      <xs:element name="quickPayReferenceNumber" type="xs:string"></xs:element>
      <xs:element name="bankReferenceNumber" type="xs:string"></xs:element>
      <xs:element name="journalId" type="xs:string"></xs:element>
      <xs:element name="correspondentGl" type="xs:string"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="deliveryTypesType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mgAgentType">
    <xs:all>
      <xs:element name="receiveAgentId" type="xs:string"></xs:element>
      <xs:element name="receiveAgentName" type="xs:string"></xs:element>
      <xs:element name="receiveAgentAbbreviation" type="xs:string"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="currencyType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CountryType">
    <xs:all>
      <xs:element name="countryCode" type="xs:string"></xs:element>
      <xs:element name="countryName" type="xs:string"></xs:element>
      <xs:element name="state" type="ns2:YorNType"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="courierType">
    <xs:all>
      <xs:element name="courierMasterId" type="xs:string"></xs:element>
      <xs:element name="courierId" type="xs:string"></xs:element>
      <xs:element name="courierName" type="xs:string"></xs:element>
      <xs:element name="correctionCheck" type="ns2:YorNType"></xs:element>
      <xs:element name="language" type="xs:string"></xs:element>
      <xs:element name="dnetType" type="xs:string"></xs:element>
      <xs:element name="correspondentId" type="xs:string"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="DirCourierType">
    <xs:all>
      <xs:element name="courierMasterId" type="xs:string"></xs:element>
      <xs:element name="courierId" type="xs:string"></xs:element>
      <xs:element name="courierName" type="xs:string"></xs:element>
      <xs:element name="correctionCheck" type="ns2:YorNType"></xs:element>
      <xs:element name="language" type="xs:string"></xs:element>
      <xs:element name="dnetType" type="xs:string"></xs:element>
      <xs:element name="correspondentId" type="xs:string"></xs:element>
      <xs:element name="locationId" type="xs:string"></xs:element>
      <xs:element name="region" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="city" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="state" type="xs:string" minOccurs="0"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="deliveryTypeType">
    <xs:all>
      <xs:element name="name" type="xs:string"></xs:element>
      <xs:element name="description" type="xs:string"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="locationType">
    <xs:all>
      <xs:element name="entryID" type="xs:string" default="0"></xs:element>
      <xs:element name="id" type="xs:string" default="0"></xs:element>
      <xs:element name="name" type="xs:string"></xs:element>
      <xs:element name="address" type="xs:string"></xs:element>
      <xs:element name="state" type="xs:string"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="dynamicFieldInfo">
    <xs:all>
      <xs:element name="fieldName" type="xs:string"></xs:element>
      <xs:element name="fieldLabel" type="xs:string"></xs:element>
      <xs:element name="dataType" type="xs:string"></xs:element>
      <xs:element name="fieldMinLength" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="fieldMaxLength" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="validationRegEx" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="enumerated" type="ns2:trueOrFalseType"></xs:element>
      <xs:element name="enumeratedValues" type="tns:enumeratedValues" minOccurs="0"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="enumeratedValues">
    <xs:sequence>
      <xs:element name="enumeratedValueInfo" type="tns:enumeratedValueInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="enumeratedValueInfo">
    <xs:all>
      <xs:element name="value" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="label" type="xs:string" minOccurs="0"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="bankType">
    <xs:all>
      <xs:element name="bankMasterId" type="xs:string"></xs:element>
      <xs:element name="bankId" type="xs:string"></xs:element>
      <xs:element name="bankName" type="xs:string"></xs:element>
      <xs:element name="accountTypeReqd" type="ns2:YorNType"></xs:element>
      <xs:element name="depositBranchReqd" type="ns2:YorNType"></xs:element>
      <xs:element name="pickupBranchReqd" type="ns2:YorNType"></xs:element>
      <xs:element name="correspondentId" type="xs:string"></xs:element>
      <xs:element name="accountTypes" type="xs:string"></xs:element>
      <xs:element name="dnetType" type="xs:string"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="agentType">
    <xs:all>
      <xs:element name="agentMasterId" type="xs:string"></xs:element>
      <xs:element name="agentId" type="xs:string"></xs:element>
      <xs:element name="agentName" type="xs:string"></xs:element>
      <xs:element name="pickupIndentificationNumber" type="ns2:YorNType"></xs:element>
      <xs:element name="language" type="xs:string"></xs:element>
      <xs:element name="dnetType" type="xs:string"></xs:element>
      <xs:element name="correctionCheck" type="ns2:YorNType"></xs:element>
      <xs:element name="correspondentId" type="xs:string"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="cityType">
    <xs:sequence>
      <xs:element name="cityName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="branchType">
    <xs:all>
      <xs:element name="branchMasterId" type="xs:string"></xs:element>
      <xs:element name="branchId" type="xs:string" default="0"></xs:element>
      <xs:element name="branchName" type="xs:string"></xs:element>
      <xs:element name="branchRegion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="branchAddress" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="branchCity" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="branchState" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="branchPhone" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="branchPostalCode" type="xs:string" minOccurs="0"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="TransactionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REDEEMED"></xs:enumeration>
      <xs:enumeration value="REFUNDED"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>