Rest-Apis-Design-main/apiregistry/internalapis/connector/uddi/quickpay/wsdls/BeneficiaryReferenceService/BeneficiaryReferenceServicePortType_schema3.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-02/12/2016 11:10:24 PM foreman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://com.tcs.bancs.rm/fault/" elementFormDefault="qualified" version="1.0" targetNamespace="http://com.tcs.bancs.rm/fault/">

  <xs:element name="fault" type="tns:FaultType"></xs:element>

  <xs:complexType name="FaultType">
    <xs:sequence>
      <xs:element name="number" type="xs:int"></xs:element>
      <xs:element name="description" type="xs:string"></xs:element>
      <xs:element name="retryAfter" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="system" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nativeError" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nativeDescription" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>