Rest-Apis-Design-main/apiregistry/internalapis/connector/uddi/quickpay/wsdls/BeneficiaryReferenceService/BeneficiaryReferenceServicePortType_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-02/12/2016 11:10:24 PM foreman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com.tcs.bancs.rm/schemas/">

  <xs:simpleType name="deliveryTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DDEPOSIT"></xs:enumeration>
      <xs:enumeration value="PICKUP"></xs:enumeration>
      <xs:enumeration value="COURIER"></xs:enumeration>
      <xs:enumeration value="DIRCOUR"></xs:enumeration>
      <xs:enumeration value="XMDDEPOSIT"></xs:enumeration>
      <xs:enumeration value="XMPICKUP"></xs:enumeration>
      <xs:enumeration value="MONEYGRAM PICKUP"></xs:enumeration>
      <xs:enumeration value="MONEYGRAM DDEPOSIT"></xs:enumeration>
      <xs:enumeration value="MONEYGRAM COURIER"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="YorNType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y"></xs:enumeration>
      <xs:enumeration value="N"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="trueOrFalseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="True"></xs:enumeration>
      <xs:enumeration value="False"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="QP"></xs:enumeration>
      <xs:enumeration value="XM"></xs:enumeration>
      <xs:enumeration value="MG"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>