Rest-Apis-Design-main/apiregistry/internalapis/connector/uddi/quickpay/wsdls/RemittanceService/securityHeader.xsd

<xsd:schema xmlns:tns="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
<element name="Security">
<complexType>
<sequence>
<element name="UsernameToken">
<complexType>
<sequence>
<element name="Username" type="xsd:string"/>
<element name="Password" type="xsd:string"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</xsd:schema>