Rest-Apis-Design-main/apiregistry/internalapis/connector/uddi/b2b/emdha/wsdls/GetSignature.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://NCB.org/webservices/" xmlns:s1="http://ncbb2b.alahli.com/schemas/Messages/EAIHeader" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://NCB.org/webservices/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://NCB.org/webservices/">
			<s:element name="GetSignature">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetSignatureRequest" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetSignatureResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetSignatureResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
		<s:schema elementFormDefault="qualified" targetNamespace="http://ncbb2b.alahli.com/schemas/Messages/EAIHeader">
			<s:element name="SOAPEAIHeader" type="s1:SOAPEAIHeader"/>
			<s:complexType name="SOAPEAIHeader">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="UniqueID" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="ChannelId" type="s:int"/>
					<s:element minOccurs="0" maxOccurs="1" name="ChannelUserName" type="s:string"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetSignatureSoapIn">
		<wsdl:part name="parameters" element="tns:GetSignature"/>
	</wsdl:message>
	<wsdl:message name="GetSignatureSoapOut">
		<wsdl:part name="parameters" element="tns:GetSignatureResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSignatureSOAPEAIHeader">
		<wsdl:part name="SOAPEAIHeader" element="s1:SOAPEAIHeader"/>
	</wsdl:message>
	<wsdl:portType name="EMDHAServiceSoap">
		<wsdl:operation name="GetSignature">
			<wsdl:input message="tns:GetSignatureSoapIn"/>
			<wsdl:output message="tns:GetSignatureSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EMDHAServiceSoap" type="tns:EMDHAServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetSignature">
			<soap:operation soapAction="http://NCB.org/webservices/GetSignature" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:GetSignatureSOAPEAIHeader" part="SOAPEAIHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="EMDHAServiceSoap12" type="tns:EMDHAServiceSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetSignature">
			<soap12:operation soapAction="http://NCB.org/webservices/GetSignature" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
				<soap12:header message="tns:GetSignatureSOAPEAIHeader" part="SOAPEAIHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EMDHAService">
		<wsdl:port name="EMDHAServiceSoap" binding="tns:EMDHAServiceSoap">
			<soap:address location="http://10.61.25.71/EMDHAService/EMDHAService.asmx"/>
		</wsdl:port>
		<wsdl:port name="EMDHAServiceSoap12" binding="tns:EMDHAServiceSoap12">
			<soap12:address location="http://10.61.25.71/EMDHAService/EMDHAService.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>